<section class="title">
				<h1>The Tech Blog</h1>
			</section>
		</header>
<main>
	{{#each blogs as |blog| }}
	<article class="blog-card">
		<section class="d-flex justify-content-between text-white blog-header p-2">

			<a href="/blogs/{{blog.id}}">
					<h2>{{blog.name}}</h2>
					<h3>Posted by {{blog.user.username}} on {{date_formatted blog.date_created}}</h3>
				</a>
		</section>
		<section>
			<p class="mt-3 p-2">
				{{blog.body}}
			</p>
		</section>
	</article>
	{{/each}}
</main>